.container {
  grid-column: 4/12;
  margin-top: 10vh;
}

.container > p {
  margin: 10px 0 10px 0;
}

.tableContainer {
  height: 80%;
}

@media (max-width: 768px) {
  .container {
    grid-column: 2/12;
  }
}
